@use "variables" as *;

.navBar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid rgba($color: $secondary, $alpha: 0.2);
    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    .navMenu{
       display: none;
        li {
            float: left;
            line-height: 1.6rem;
        }
        li a {
            display: block;
            padding: 16px;
            &:hover{
                transform: scale(0.95);
            }
            &:focus{
                transform: scale(0.95);
            }
        }
    }
}

.slideOutNav{
    padding: 35px 0px   ;
    border-right: 1px solid $senary;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: 100vh;
    background-color: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 20;
    transition: 0.75s;
    .buttonContainer {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 20px 50px 10px 20px;
        }
    }

    .mainMenu {
        li{
            padding-bottom: 50px;
        }
        li a {
            font-family: $secondaryFont;
            font-size: 1.6rem;
            line-height: 2.5rem;
            color: rgba($color: white, $alpha: 1);
            &:hover {
                color: rgba($color: $senary, $alpha: 1);
            }
            &:focus {
                color: rgba($color: $senary,$alpha: 1);
            }
        }
    }
}