/* site fonts */
$primaryFont: 'Nunito', sans-serif;
$secondaryFont: 'PT Sans', sans-serif;

/* site colours */
$primary: #2A3033;
$secondary: #3D48AE;
$tertiary: #818CEF;
$quaternary: #DFE0FC;
$quinary: #E7E8EE;
$senary: #FBAF01;